@import "@styles/variables";

.container {
  &__bgblank {
    background-color: $background-primary-color;
    padding: 7px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    &:hover {
      cursor: pointer;
    }
    &__text {
      font-size: 15px;
      color: $text-primary-color;
    }
  }
  &__green {
    padding: 7px;
    gap: 5px;
    border-radius: 10px;
    background-color: $background-success-color;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
      font-size: 10px;
      font-weight: bold;
      color: $text-success;
    }
  }
  &__bgblue {
    padding: 7px;
    height: 100%;
    gap: 5px;
    border-radius: 10px;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
      font-size: 10px;
      font-weight: bold;
    }
  }
}
