@import "@styles/variables";

.container {
  display: flex;
  flex-direction: row;
}

.topMenu {
  height: 50px;
  margin-left: 100px;
  width: 100%;
  background-color: yellow;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: yellow;
  display: flex;
  align-items: center;

  padding: 0 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  &__inputContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 200px;
    select {
      width: 400px;
    }
  }
}
.lateralMenu {
  padding: 15px;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  position: absolute;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
  }
  li:hover {
    transform: scale(1.2);
  }
  svg {
    color: $background-highlighted-color;
    width: 40px;
  }
}
