@import "@styles/variables";

.button {
  &__outlined {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: solid 1px $primary-color;
    border-radius: 25px;
    color: $text-primary-color;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.5s ease;
  }

  &__outlined:hover {
    background-color: $secondary-color;
    color: white;
  }
}
