$primary-color: #8addf5;
$secondary-color: #333d78;

$background-primary-color: #ffffff;
$background-secondary-color: #f1f2f4;
$background-highlighted-color: #acb0be;

$text-primary-color: #333d78;
$text-secondary-color: #8addf5;
$text-black: #000;
$text-error: red;
