@import "@styles/variables";

.container {
  display: flex;
  flex-direction: row;

  svg {
    cursor: pointer;
  }
}

.topMenu {
  background-color: $background-primary-color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  height: fit-content;
  padding: 5px;
  width: 100%;
  &__inputContainer {
    margin-left: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 500px;
  }

  &__iconsContainer {
    background-color: $background-secondary-color;
    display: flex;
    height: 100%;
    width: auto;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }
}

.lateralMenu {
  background-color: $background-primary-color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  position: absolute;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
  }

  li:hover {
    transform: scale(1.2);
  }

  svg {
    color: $background-highlighted-color;
    width: 40px;
  }
}

@media (max-width: 1000px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .topMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    &__inputContainer {
      margin-left: 0;
      width: 200px;
      align-self: end;
      padding: 0;
    }
    &__iconsContainer {
      align-self: center;
      width: fit-content;
      align-self: end;
      padding: 5px;
    }
  }
}
