@import "@styles/variables";

.inputContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: solid 1px $primary-color;
  border-radius: 10px;
  select {
    width: 100%;
  }
  input {
    padding: 2px;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  div {
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.input {
  border: none;
}
